*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(22, 126, 252);
    color: white;
}
header h1{
    padding: 20px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    padding: 10px 50px;
}
main article{
    flex:1;
}
main article:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

main article h2{
    margin: 10px;
}
.form{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form>*{
    width: 300px;
    margin: 10px;
}
.controls{
    display: flex;
    justify-content: space-between;
}
input::placeholder{
 padding: 10px;
}
input{
    padding: 10px 0px;
}
select{
  padding: 10px;
}
.controls button{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
}
.reset{
    background-color: gray;
    color: white;
}
.submit{
    background-color: rgb(22, 126, 252);
    color: white;
}
.generate{
    background-color: rgb(141, 22, 252);
    color: white;
}

.true{
    outline: 3px solid green;
}
.false{
    outline: 3px solid rgb(170, 3, 3);
}
footer{
    background-color: rgb(6, 51, 105);
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
#submitBtn:disabled{
    background: gray;
    cursor: not-allowed;
}
.errorInput{
    color: red;
}

.jokesList li{
    border: 1px solid gray;
    padding: 30px;
    display: flex;
    border-radius: 5px;
    position: relative;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
}
.jokesList .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.jokesList li p{
    text-align: justify;
}
.jokesList .btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.jokesList .btns button{
    flex:1;
    padding: 5px 10px;
}
.likes{
    position: absolute;
    top: 5px;
    left: 5px;
}
.dislikes{
    position: absolute;
    top: 5px;
    right: 5px;
}
.delete{
    background-color: rgb(252, 22, 22);
    color: white;
    border: 0px;
    border-radius: 4px ;
}
.likeBtn{
    background-color: rgb(22, 110, 252);
    color: white;
    border: 0px;
    border-radius: 4px ;
}
.dislikeBtn{
    background-color: rgb(252, 114, 22);
    color: white;
    border: 0px;
    border-radius: 4px ;
}
.likes{
    color: rgb(127, 234, 255);
}
.dislikes{
    color: coral;
}